
@{
    ViewBag.title = "Cardecision";
}


	
    
    
		<!---<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />-->
		<!--  [if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="~/Js/jquery.min.js"></script>
		<script src="~/Js/jquery.scrolly.min.js"></script>
		<script src="~/Js/skel.min.js"></script>
		<script src="~/Js/init.js"></script>
		<script src="~/Js/landingPage.js"></script>
			<link rel="stylesheet" href="~/Style/skel.css" />
			<link rel="stylesheet" href="~/Style/style.css" />
			<link rel="stylesheet" href="~/Style/style-desktop.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		
        <!-- Nav -->
			<!--<nav id="nav">
				<ul class="container">
					<li><a href="#top">Top</a></li>
					<li><a href="#work">Work</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>-->

		<!-- Home -->
<div style="color:black">
			<div style="height:1000px" class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
							<span class="image fit"><img src="~/Style/images/cars.jpg" alt="" /></span>
						</div>
						<div class="8u">
							<header>
                                <h1 style="font-size:50px"><strong>Car Decisions</strong></h1>
							</header>
                            <br /><br />
                            <p style="font-size: 1.5em">Please fill out the following form.</p>
							<a style="font-size: 1.5em; padding: 1em 2.35em;" href="#contact" class="button big scrolly">Proceed</a>
						</div>
					</div>
					<br><br><br><br>
				</article>
			</div>

	
    <span id="contact" class=""></span>
		<!-- Contact -->
	<div class="wrapper style2">
		
			<header>
              <br /><br />
			 <h2 align="center" style="font-size: 36px;">Please fill out the following form to proceed to the next step.</h2> 
			
			</header>
        <br /><br />
			<div>
				
				<div class="row">
					<div class="12u">
						<form id="demographicsForm" method="post" action="@Url.Action("PostDemographics", "Home")">


						      <!--<div style= "float:left; display:inline; width: 216px;">-->

                                    <div align="center" style="margin-left:auto; margin-right:auto; width: 630px;">
                                        
                                            <div style="display:inline; float:left; margin-right:25px">
                                                <p class="radioFormLabel" style="">
                                                    Age
                                                </p>
                                                <div class="inputBox">
                                                    <input type="text"  name="age">
                                                        
                                                    </div>
                                                </div>
                                            
                                            <div style="display:inline; float:left">
                                                <p class="radioFormLabel">
                                                    Sex
                                                </p>
                                                <div class="radioBox">
                                                    <select class="inputBox">
                                                        <option value="notSpecified">
                                                            -Select Option
                                                        </option>
                                                        <option value="Male">
                                                            Male
                                                        </option>
                                                        <option value="Female">
                                                            Female
                                                        </option>
                                                    </select>
                                                </div>
                                                </div>
                                        
                                        <div style="height: 150px;"></div>

                                        <div style="display:inline; float:left; margin-right:25px">
                                            <p class="radioFormLabel" style="">
                                                Job
                                            </p>
                                            <div class="radioBox">
                                                <select class="inputBox" name="job">
                                                    <option value="notSpecified">
                                                        -Select Option
                                                    </option>
                                                    <option value="prof/mgmt"> Professional/Managerial
                                                    </option>
                                                    <option value="service">
                                                        Clerical or Service Person
                                                    </option>
                                                    <option value="laborer">
                                                        Laborer
                                                    </option>
                                                    <option value="unemployed">
                                                        Unemployed
                                                    </option>
                                                    <option value="salesman">
                                                        Salesman
                                                    </option>
                                                    <option value="student">
                                                        Student
                                                    </option>
                                                    <option value="military">
                                                        Military
                                                    </option>
                                                    <option value="other">
                                                        Other
                                                    </option>
                                                </select>
                                                </div>
                                            </div>
                                                
                                            <div style="display:inline; float:left">
                                                <p class="formLabel">
                                                    If "Other" Please Specify
                                                </p>
                                                
                                                <p class="inputBox">
                                                    <input type="text" name="otherJob" />
                                                </p>
                                                
                                            </div>
                                            <div style="height: 170px;"></div>
                                        
                                            <div style="display:inline; float:left; margin-right:25px">
                                                <p class="formLabel">
                                                    Highschool
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="highschool" />
                                                </p>
                                            </div>

                                            <div style="display:inline; float:left; margin-right:25px">
                                                <p class="formLabel">
                                                    Year of Graduation
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="yearGraduatedHS" />
                                                </p>
                                            </div>

                                            <div style="display:inline; float:left;">
                                                <p class="formLabel">
                                                    Place
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="hsPlace" />
                                                </p>
                                            </div>

                                            <div style="height: 150px;"></div>
                                        
                                            <div style="display:inline; float:left; margin-right:25px"> 
                                                <p class="formLabel">
                                                    Bachelor's Completed
                                                </p>
                                                <select name="bachelors" class="inputBox">
                                                    <option value="notSpecified">
                                                        -Select Option
                                                    </option>
                                                    <option value="yes"> Yes</option>
                                                    <option value="no"> No</option>
                                                </select>
                                                
                                            </div>
                                            <div style="display:inline; float:left; margin-right:25px">
                                           		<p class="formLabel">
                                                    Year Of Graduation
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="yearGraduatedBach" />
                                                </p>
                                            </div>

                                            <div style="display:inline; float:left;">
                                                <p class="formLabel">
                                                    Place
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="bachPlace" />
                                                </p>
                                            </div>



                                        <div style="height: 150px;"></div>
                                        
                                        <div style="display:inline; float:left; margin-right:25px">
                                        	<p class="formLabel">
                                                Masters/PHD Completed
                                            </p>
                                            <select name="masters/phd" class="inputBox">
                                                <option value="notSpecified">
                                                    -Select Option
                                                </option>
                                               
                                                <option value="yes"> Yes</option>
                                                <option value="no"> No</option>
                                            </select>
                                        </div> 
                                        <div style="display:inline; float:left; margin-right:25px">
                                            <p class="formLabel">
                                                Year Of Graduation
                                            </p>
                                            <p class="inputBox">
                                                <input type="text" name="yearGraduatedM/PHD" />
                                            </p>
                                        </div>  

                                        <div style="display:inline; float:left;">
                                                <p class="formLabel">
                                                    Place
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="mstPlace" />
                                                </p>
                                            </div>

                                        <div style="height: 150px;"></div>
                                        
                                        <div style="display:inline; float:left; margin-right:25px">
                                               
                                            <p class="radioFormLabel" style="">
                                                Employer
                                            </p>
                                            <p class="inputBox">
                                                <input type="text" name="Employer">
                                                </p>  
                                            </p>
                                        </div>
                                        <div style="display:inline; float:left;">
                                            <p class="radioFormLabel" style="">
                                                Since
                                            </p>
                                            <p class="inputBox">
                                                <input type="text" name="employerSince">
                                                </p>  
                                            </p>
                                        </div>

                                        <div style="height: 150px;"></div>
                                        
                                           <div style="display:inline; float:left; margin-right:25px">

                                            <p class="radioFormLabel" style="">
                                            Current Car
                                            </p>
                                            <div class="radioBox">
                                                <select name="currentCar">
                                                    <option value="notSpecified">
                                                        -Select Option
                                                    </option>
                                                    <option value="honda">
                                                        Honda
                                                    </option>
                                                    <option value="Toyota">
                                                        Toyota
                                                    </option>
                                                    <option value="Mazda">
                                                        Mazda
                                                    </option>
                                                    <option value="Ford">
                                                        Ford
                                                    </option>
                                                    <option value="Chrysler">
                                                        Chrysler
                                                    </option>
                                                    <option value="Mercedes">
                                                        Mercedes
                                                    </option>
                                                    <option value="bmw">
                                                        BMW
                                                    </option>
                                                    <option value="Dodge">
                                                        Dodge
                                                    </option>
                                                    <option value="other">
                                                        Other
                                                    </option>
                                                   
                                                </select>
                                            </div>
                                               </div>

                                            <div style="display:inline; float:left;">
                                                <p class="radioFormLabel" style="">
                                                    If "Other" Specify
                                                </p>
                                                <p class="inputBox">
                                                    <input type="text" name="carOther"/>
                                                </p>
                                                
                                            </div>
                                        <br />
                                                <input type="hidden" id="timeOnPage" value="timeOnLandingPage" />
                                            <span id="proceed" value="Proceed" type="submit"  class="button big scrolly" style="margin-top: 100px; font-size: 1.1em; padding: 1em 2.35em;">
                                                Proceed
                                            </span>
                                              
                                          </div>


                                    </div>
                                            <input id="timeOnPage" name="timeOnLandingPage" type="hidden" />
                                       
                                        <!--<input type="submit" value="Proceed"/>-->      
                                </form>
							</div>
						</div>
						
					</div>
					
						
			</div>
</div>