
@{
    ViewBag.Title = "Demographics";
}

<link href="~/Style/demographics.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" media="screen and (min-width: 992px) and (max-width: 1199px)" href="~/Style/dm-md-screen.css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width: 780px) and (max-width: 991px)" href="~/Style/dm-sm-screen.css" />
<link rel="stylesheet" type="text/css" media="screen and (max-width: 779px)" href="~/Style/dm-xs-screen.css" />

<script type="text/javascript" src="~/Js/landingPage.js"></script>

<h2>Demographics</h2>
<br />
    <form id="demographicsForm" method="post" action="@Url.Action("PostDemographics", "Home")">
        <div style=  "float:left; display:inline;">
           <!-- <p  class="formLabel">
                User Id
            </p>
            <p class="inputBox">
                <input type="text" name="userId" />
            </p>
            <br />-->
        
            <p class="formLabel">
                Organization
            </p>
            <p class="inputBox">
                <input type="text" name="organization" />
            </p>
            <br />

            <p class="formLabel">
                Street Address
            </p>
            <p class="inputBox">
                <input type="text" name="streetAddress" />
            </p>
            <br />
            <p class="formLabel">
                State
            </p>
            <p class="inputBox">
                <input type="text" name="state" />
            </p>
            <br />
            <p class="formLabel">
                Phone Number
            </p>
            <p class="inputBox">
                <input type="text" name="number" />
            </p>
            <br />

            <p class="formLabel">
                Zip Code
            </p>
            <p class="inputBox">
                <input type="text" name="zipCode" />
            </p>
            <br />
        </div>

        <div style="display:inline; float:left; margin-left:100px">
            <p class="formLabel">
                Password
            </p>
            <p class="inputBox">
                <input type="text" name="password" />
            </p>
            <br />
            <p class="formLabel">
                Role In Organization
            </p>
            <p class="inputBox">
                <input type="text" name="role" />
            </p>
            <br />
       
            <p class="formLabel">
                City
            </p>
            <p class="inputBox">
                <input type="text" name="city" />
            </p>
            <br />
            
            <p class="formLabel">
                Email
            </p>
            <p class="inputBox">
                <input type="text" name="email" />
            </p>
            <br />
        </div>

        <div style="display:inline; float:left; margin-left:100px">
                <p class="radioFormLabel">
                    Gender
                </p>
                <p class="radioBox">
                    <input style="display:inline" type="radio" name="gender" value="male"> Male
                    <br />
                    <input style="display:inline" type="radio" name="gender" value="female"> Female
                </p>
                <br />

                <p class="radioFormLabel">
                    Marital Status
                </p>
                <p class="radioBox" >
                    <input style="display:inline" type="radio" name="mariatalStatus" value="married"> Married
                    <br />
                    <input style="display:inline" type="radio" name="mariatalStatus" value="divorced/seporated"> Divorced or Seporated
                    <br />     
                    <input style="display:inline" type="radio" name="mariatalStatus" value="single"> Single Never Married
                    <br />
                    <input style="display:inline" type="radio" name="mariatalStatus" value="widowed"> Widowed
                </p>
                <br />

               
                <p class="radioFormLabel" style="">
                    Highest Level of Education
                </p>
                <div class="radioBox">
                    <input style="display:inline" type="radio" name="education" value="highschool"> Graduated Highschool
                    <br />
                    <input style="display:inline" type="radio" name="education" value="college1-3"> 1-3 Years of College
                    <br />
                    <input style="display:inline" type="radio" name="education" value="graduatedCollege"> Graduated College(4 Years)
                    <br />
                    <input style="display:inline" type="radio" name="education" value="gradSchool"> Grad School
                    <br />
                </div>
           </div>

        <div style="display:inline; float:left; margin-left:100px">
            <p class="radioFormLabel" style="">
                Age
            </p>
            <div class="radioBox">
                <input style="display:inline" type="radio" name="age" value="14-17"> 14 to 17
                <br />
                <input style="display:inline" type="radio" name="age" value="18-24"> 18 to 24
                <br />
                <input style="display:inline" type="radio" name="age" value="25-34"> 25 to 34
                <br />
                <input style="display:inline" type="radio" name="age" value="35-44"> 35 to 44
                <br />
                <input style="display:inline" type="radio" name="age" value="55-64"> 55 to 64
                <br />
                <input style="display:inline" type="radio" name="age" value="65+"> 65+
            </div>
            <br />

            <p class="radioFormLabel" style="">
                Current Occupation
            </p>
            <div class="radioBox">
                <input style="display:inline" type="radio" name="occupation" value="prof/mgmt"> Professional/Managerial
                <br />
                <input style="display:inline" type="radio" name="occupation" value="service"> Clerical or Service Person
                <br />
                <input style="display:inline" type="radio" name="occupation" value="laborer"> Laborer
                <br />
                <input style="display:inline" type="radio" name="occupation" value="unemployed"> Unemployed
                <br />
                <input style="display:inline" type="radio" name="occupation" value="salesman"> Salesman
                <br />
                <input style="display:inline" type="radio" name="occupation" value="student"> Student
                <br />
                <input style="display:inline" type="radio" name="occupation" value="military"> Military
                <br />
                <div id="proceed" style="cursor: pointer;height: 30px;width: 60px;display: inline;float: left;
                     padding: 5px; padding-bottom: 0px;
                     background-color: #000; margin-top: 50px;
                     margin-bottom: 40px; background-color:black;
                     padding-left: 8px; padding-top: 5px;">
                    Proceed
                </div>
               
                
            </div>
            <input id="timeOnPage" name="timeOnLandingPage" type="hidden" />
        </div>
        <!--<input type="submit" value="Proceed"/>-->      
</form>




<br />